#### ASIMP
venv/
.venv/
*.pyc
__pycache__/
*.log
*.retry
.ansible/
roles/common_roles/

# Ignore all roles in roles/ except our custom roles and submodules
roles/*
!roles/reporting-ASIMP/
!roles/update-ubuntu-ASIMP/
!roles/sysctl-suse-ASIMP/
!roles/lynis-ansible/

# Ignore Vault credentials except the encrypted production secrets
vault/*
!vault/production_secrets.yml
